@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.box {
  position: absolute;
  height: 100%;
  width: 75%;
  background-color: rgb(229, 249, 253);
}

.timer {
  width: fit-content;
  float: right;
  padding: 3vh;
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timer h5 {
  font-size: 1.29rem;
  font-weight: 900;
}

.timer_content {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  bottom: 3%;
}

.Qimage {
  width: fit-content;
  
}

.section_count {
  background-color: aqua;
  width: fit-content;
  border: solid 1px black;
  border-radius: 5px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19); */
}


.q_no {
  font-weight: 600;
  background-color: aquamarine;
}

.options {
  border: solid 1px grey;
  background-color: rgb(255, 255, 255);
  margin: 2vh;
  padding: 1vh;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options:hover {
  background-color: #fff;
  transform: translateY(-10%);
}

.question_count {
  background-color: palevioletred;
}

.q_box_box {
  position: absolute;
  left: 74%;
  height: 100%;
  width: 26%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  display: grid;
  grid-template-rows: 8% 77% 15%;
}

.total_q {
  margin-top: 4.5%;
  float: right;
  text-align: center;
  border-bottom: 2px solid #444;
}


.q_box_box_box{
  margin-top: 4.5%;
}

.q_box {
  border: solid 4px #444;
  width: fit-content;
  display: inline-block;
  padding: 1.25rem 2rem;
  margin: 0.75rem;
  border-radius: 5px;
}

.end_btn{
  margin-left: 21.75% ;
  margin-top: 8%;
}

.btn_end{
  padding: 0.75rem 3rem;
  text-align: center;
  background-color: rgb(199, 38, 38);
  font-size: 1.5rem;
  color: #fff;
  border-radius: 7px;
}




.active {
  color: white;
  border: none;
}

.results {
  position: absolute;
  left: 0px;
  margin: 0 0vh;
}

.name {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  margin: 0 5vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.b_box {
  border: solid;
  padding: 4vh;
  margin: 5vh 0;
}