.landing {
  max-width: 100vw;
  overflow-x: hidden;
}

.landing .row {
  position: relative;
}

.landingImg {
  height: 80%;
  margin-top: 40px;
  margin-left: 100px;
}

.side_content {
  font-size: 20px;
  margin-top: 6%;
  /* margin-right: 2%; */
}

.blob1 {
  position: absolute;
  width: 15%;
  /* height: 400px; */
  left: -3%;
  top: 5%;
  transform: rotate(-20deg);
}
.blob2 {
  position: absolute;
  width: 20%;
  /* height: 400px; */
  bottom: 1%;
  right: 0;
}
.blob3 {
  position: absolute;
  width: 20%;
  /* height: 300px; */
  left: -6%;
  bottom: -10%;
  transform: rotate(-20deg);
}

.catchy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
}

.Lorem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.explore_btn {
  position: absolute;
  background: #ff5c58;
  border-radius: 7px;
  border: none;
  padding: 8px 15px;
  font-size: 20px;
  color: #ffffff;
}

.our_services {
  display: grid;
  grid-template-rows: 20% 40% 40%;
  grid-gap: 0%;
}

.service_heading b {
  font-size: 30px;
}

h4 {
  text-align: center;
}

.service_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 0 5%;
  /* padding-bottom: 10%; */
}

.item1 {
  background-color: #ff5c58;
  height: 100px;
  border-radius: 5px;
}

.item1 h5 {
  text-align: center;
  color: white;
}

.item2 {
  background-color: #fcd2d1;
  height: 100px;
  border-radius: 5px;
}

.item2 h5 {
  text-align: center;
  color: white;
}

.item3 {
  background-color: #ff5c58;
  height: 100px;
  border-radius: 5px;
}

.item3 h5 {
  text-align: center;
  color: white;
}

.item4 {
  background-color: #fcd2d1;
  height: 100px;
  border-radius: 5px;
}

.item4 h5 {
  text-align: center;
  color: white;
}

.item5 {
  background-color: #ff5c58;
  height: 100px;
  border-radius: 5px;
}

.item5 h5 {
  text-align: center;
  color: white;
}

.item6 {
  background-color: #fcd2d1;
  height: 100px;
  border-radius: 15px;
}

.item6 h5 {
  text-align: center;
  color: white;
  text-align: center;
}
